<div class="barre-de-recherche">
    <div class="info">
        <input class="recherche" type="search" (ngModelChange)="searchPosts(key.value)" #key="ngModel" ngModel name="key" name="recherche" placeholder="Recherchez ici !">
    </div>
</div>
<div class="milieu">
    <div class="formulaire-post">
        <form #form="ngForm" class="formulaire">
            <div class="conteneur-input">
                <input type="hidden" class="id" placeholder="{{post?._id}}" name="id" ngModel="{{post?._id}}">
                <textarea placeholder="Ecrivez une publication..." name="message" ngModel="{{post?.message}}"></textarea>
            </div>
            <button class="publier" title="publier" (click)="addPost(form.value)">Publier</button>
        </form>
    </div>
    <div *ngFor="let post of posts" class="colonne">
        <div class="post">
            <div class="utilisateur">
                <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
                <p>{{getPosterName(post.posterId)}}</p>
                <p class="date">{{post?.createdAt | date: 'à HH:mm, le d MMMM yyyy'}}</p>
            </div>
            <div class="composition">
                <form #form="ngForm" (ngSubmit)="updatePost(form.value)">
                    <div class="texte">
                        <input type="hidden" class="id" ngModel="{{post?._id}}" name="_id">
                        <input type="hidden" class="posterId" ngModel="{{post?.posterId}}" name="posterId">
                        <textarea *ngIf="loggedInUser?.role === 'ADMIN'" type="text" class="message-admin" placeholder="{{post?.message}}" ngModel="{{post?.message}}" name="message"></textarea>
                        <textarea *ngIf="loggedInUser?.role !== 'ADMIN'" type="text" class="message" placeholder="{{post?.message}}" ngModel="{{post?.message}}" name="message" disabled></textarea>
                        <button *ngIf="loggedInUser?.role === 'ADMIN'" type="submit" title="modifier votre publication">Modifier</button>
                    </div>
                </form>
                <div class="image">
                    <img type="jpg" id="image" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651423_960_720.jpg"  alt="image">
                </div>
            </div>
            <div class="bas-post">
                <div class="decompte">
                    <p *ngIf="getLikesNumber(post) > 0">Nombre de J'aime : {{getLikesNumber(post)}}</p>
                    <p *ngIf="getLikesNumber(post) === 0">Pas encore de J'aime</p>
                    <p *ngIf="getCommentsNumber(post) > 0"> Nombre de commentaires : {{getCommentsNumber(post)}}</p>
                    <p *ngIf="getCommentsNumber(post) === 0">Pas encore de commentaires</p>
                </div>
                <div class="boutons">
                    <button *ngIf="!isLiking(post)" (click)="likePost(post?._id)" title="aimer ce post">J'aime</button>
                    <button *ngIf="isLiking(post)" (click)="unlikePost(post?._id)" title="ne plus aimer ce post">Je n'aime plus</button>
                    <button *ngIf="loggedInUser?.role === 'ADMIN'" (click)="deletePost(post?._id, post.posterId)" title="supprimer cette publication">Supprimer</button>
                </div>
                <div *ngFor="let comment of post?.comments" class="conteneur-commentaire">
                    <form class="formulaire-commentaire-poster" #form="ngForm" (ngSubmit)="editCommentPost(post?._id,form.value)">
                        <input type="hidden" class="id" name="commentId" ngModel="{{comment?._id}}">
                        <p class="commenterName"><i class="fas fa-user"></i>  {{comment?.commenterName}} : </p>
                        <textarea *ngIf="comment?.commenterId === loggedInUser?._id || loggedInUser?.role === 'ADMIN'" class="text" name="text" ngModel="{{comment?.text}}"></textarea>
                        <textarea *ngIf="comment?.commenterId !== loggedInUser?._id && loggedInUser?.role !== 'ADMIN'" class="text" name="text" ngModel="{{comment?.text}}"></textarea>
                        <button *ngIf="comment?.commenterId === loggedInUser?._id || loggedInUser?.role === 'ADMIN'" type="submit" title="modifier votre commentaire"><i class="fas fa-edit" id="modifier"></i></button>
                        <div class="suppression">
                            <button *ngIf="comment?.commenterId === loggedInUser?._id || loggedInUser?.role === 'ADMIN'" (click)="deleteCommentPost(post?._id, comment?._id)" title="supprimer votre commentaire"><i class="fas fa-trash-alt" id="supprimer"></i></button>
                        </div>
                    </form>
                </div>
                <form class="formulaire-commentaire" [formGroup]="commentForm" (ngSubmit)="addCommentPost(post?._id,commentForm.value)">
                    <div class="commentaire">
                        <textarea placeholder="Votre commentaire..." name="text" formControlName="text"></textarea>
                        <button type="submit" title="envoyer votre commentaire">Commenter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>