<div class="barre-de-recherche">
    <div class="info">
        <input class="recherche" type="text" name="recherche" placeholder="Recherchez ici !">
    </div>
    <div class="boutons">
        <button class="rechercher">Rechercher</button>
        <a class="loupe"><i class="fas fa-search"></i></a>
    </div>
</div>
<div class="milieu">
    <div class="formulaire-post">
        <form #form="ngForm" class="formulaire">
            <div class="conteneur-input">
                <input type="hidden" class="id" placeholder="{{post?._id}}" name="id" ngModel="{{post?._id}}">
                <textarea placeholder="Ecrivez une publication..." name="message" ngModel="{{post?.message}}"></textarea>
            </div>
            <button class="publier" title="publier" (click)="addPost(form.value)">Publier</button>
        </form>
    </div>
    <div *ngFor="let post of posts" class="colonne">
        <div class="post">
            <form #form="ngForm">
                <div class="utilisateur">
                    <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
                    <p>Patrice</p>
                    <button>Partager</button>
                </div>
                <div class="composition">
                    <div class="texte">
                        <input type="hidden" class="id" placeholder="{{post?._id}}" name="id" ngModel="{{post?._id}}">
                        <p>{{post?.message}}</p>
                    </div>
                    <div class="image">
                        <img type="jpg" id="image" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651423_960_720.jpg"  alt="image">
                    </div>
                </div>
                <div class="boutons">
                    <button>J'aime</button>
                    <button>Commenter</button>
                    <button (click)="deletePost(post?._id)">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>