<div class="barre-de-recherche">
    <div class="info">
        <input class="recherche" type="text" name="recherche" placeholder="Recherchez ici !">
    </div>
    <div class="boutons">
        <button class="rechercher">Rechercher</button>
        <a class="loupe"><i class="fas fa-search"></i></a>
        <button (click)="ajouterPost()">+</button>
    </div>
</div>
<!--
<div class="milieu">
    <div class="colonne">
        <div class="post">
            <div class="utilisateur">
                <img src="https://media.istockphoto.com/photos/golden-retriever-with-computer-picture-id161955993?s=612x612" alt="photo profil">
                <p>Marie</p>
                <button>Partager</button>
            </div>
            <div class="composition">
                <div class="texte">
                    <p>L'automne est de retour !!</p>
                </div>
                <div class="image">
                    <img type="jpg" id="image" src="https://cdn.pixabay.com/photo/2022/03/30/19/06/leaves-7101716_960_720.jpg"  alt="image">
                </div>
            </div>
            <div class="boutons">
                <button>J'aime</button>
                <button>Commenter</button>
            </div>
        </div>
        <div class="post">
            <div class="utilisateur">
                <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
                <p>Hélène Pagniez</p>
                <button>Partager</button>
            </div>
            <div class="composition">
                <div class="texte">
                    <p>Les vacances approchent! En attendant, au travail!</p>
                </div>
                <div class="image">
                    <img type="jpg" id="image" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651423_960_720.jpg"  alt="image">
                </div>
            </div>
            <div class="boutons">
                <button>J'aime</button>
                <button>Commenter</button>
            </div>
        </div>
    </div>
</div>
-->



<div class="milieu">
    <div *ngFor="let post of posts" class="colonne">
        <div class="post">
            <form #form="ngForm">
                <div class="utilisateur">
                    <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
                    <p>Hélène Pagniez</p>
                    <button>Partager</button>
                </div>
                <div class="composition">
                    <div class="texte">
                        <input type="hidden" class="id" placeholder="{{post?._id}}" name="id" ngModel="{{post?._id}}">
                        <p>{{post?.message}}</p>
                    </div>
                    <div class="image">
                        <img type="jpg" id="image" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651423_960_720.jpg"  alt="image">
                    </div>
                </div>
                <div class="boutons">
                    <button>J'aime</button>
                    <button>Commenter</button>
                    <button (click)="supprimerPost(post?._id)">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>