<div class="profil">
    <div class="deconnexion">
        <a (click)="logoutUser()" title="Se déconnecter"><i class="fas fa-sign-out-alt"></i></a>
        <h2>Mon Profil</h2>
    </div>
    <div class="photo">
        <label for="image"></label>
        <img type="file" id="image" src="https://media.istockphoto.com/photos/golden-retriever-with-computer-picture-id161955993?s=612x612" alt="photo de profil">
    </div>
    <form class="formulaire-utilisateur" [formGroup]="userForm" (ngSubmit)="updateUser(userForm.value)">
        <div class="form-group">
            <input type="hidden" class="id" formControlName="_id" placeholder="{{loggedInUser?._id}}" name="_id" ngModel="{{loggedInUser?._id}}">
            <input type="text" id="prenom" formControlName="firstname" name="firstname" ngModel="{{loggedInUser?.firstname}}" placeholder="{{loggedInUser?.firstname}}">
            <input type="text" id="nom" formControlName="name" name="name" ngModel="{{loggedInUser?.name}}" placeholder="{{loggedInUser?.name}}">
            <input type="text" id="poste" formControlName="job" name="job" ngModel="{{loggedInUser?.job}}" placeholder="{{loggedInUser?.job}}">
            <input type="text" id="email" formControlName="email" name="email" ngModel="{{loggedInUser?.email}}" placeholder="{{loggedInUser?.email}}">
        </div>
        <div class="boutons">
            <div class="modifier">
                <button type="submit" title="modifier votre profil">Modifier</button>
            </div>
            <div class="supprimer">
                <button (click)="deleteUser(loggedInUser?._id!)" title="supprimer votre profil">Supprimer</button>
            </div>
        </div>
    </form>
</div>
<div class="mur">
    <h2>Mes Publications</h2>
    <div *ngFor="let post of userPosts" class="colonne">
        <div class="post">
            <div class="utilisateur">
                <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
                <p>{{getPosterName(post.posterId)}}</p>
                <p class="date">{{post?.createdAt | date: 'à HH:mm, le d MMMM yyyy'}}</p>
            </div>
            <div class="form-composition">
                <form class="formulaire-post" #form="ngForm" (ngSubmit)="updatePost(form.value)">
                    <div class="composition">
                        <div class="texte">
                            <div class="modifier-message">
                                <input type="hidden" class="id" ngModel="{{post?._id}}" name="_id">
                                <input type="hidden" class="posterId" ngModel="{{post?.posterId}}" name="posterId">
                                <input type="text" class="message" placeholder="{{post?.message}}" ngModel="{{post?.message}}" name="message">
                                <button type="submit" title="modifier votre publication">Modifier</button>
                            </div>
                        </div>
                        <div class="image">
                            <img type="jpg" id="image" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651423_960_720.jpg"  alt="image">
                        </div>
                    </div>
                </form>
            </div>
            <div class="bas-post">
                <div class="decompte">
                    <p *ngIf="getLikesNumber(post) > 0">Nombre de J'aime : {{getLikesNumber(post)}}</p>
                    <p *ngIf="getLikesNumber(post) === 0">Pas encore de J'aime</p>
                    <p *ngIf="getCommentsNumber(post) > 0"> Nombre de commentaires : {{getCommentsNumber(post)}}</p>
                    <p *ngIf="getCommentsNumber(post) === 0">Pas encore de commentaires</p>
                </div>
                <div class="boutons">
                    <button *ngIf="!isLiking(post)" (click)="likePost(post?._id)" title="aimer ce post">J'aime</button>
                    <button *ngIf="isLiking(post)" (click)="unlikePost(post?._id)" title="ne plus aimer ce post">Je n'aime plus</button>
                    <button (click)="deletePost(post?._id, post.posterId)" title="supprimer votre publication">Supprimer</button>
                </div>
                <div *ngFor="let comment of post?.comments" class="conteneur-commentaire">
                    <form class="formulaire-commentaire-poster" #form="ngForm" (ngSubmit)="editCommentPost(post?._id,form.value)">
                        <input type="hidden" class="id" name="commentId" ngModel="{{comment?._id}}">
                        <p class="commenterName"><i class="fas fa-user"></i>  {{comment?.commenterName}} : </p>
                        <textarea *ngIf="comment?.commenterId === loggedInUser?._id" class="text" name="text" ngModel="{{comment?.text}}"></textarea>
                        <textarea *ngIf="comment?.commenterId !== loggedInUser?._id" class="text" name="text" ngModel="{{comment?.text}}"></textarea>
                        <button *ngIf="comment?.commenterId === loggedInUser?._id" type="submit" title="modifier votre commentaire"><i class="fas fa-edit" id="modifier"></i></button>
                        <div class="suppression">
                            <button *ngIf="comment?.commenterId === loggedInUser?._id" (click)="deleteCommentPost(post?._id, comment?._id)" title="supprimer votre commentaire"><i class="fas fa-trash-alt" id="supprimer"></i></button>
                        </div>
                    </form>
                </div>
                <form class="formulaire-commentaire" [formGroup]="commentForm" (ngSubmit)="addCommentPost(post?._id,commentForm.value)">
                    <div class="commentaire">
                        <textarea placeholder="Votre commentaire..." name="text" formControlName="text"></textarea>
                        <button type="submit" title="envoyer votre commentaire">Commenter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>