<div class="profil">
    <h2>Mon Profil</h2>
    <div class="photo">
        <label for="image"></label>
        <img type="file" id="image" src="https://media.istockphoto.com/photos/golden-retriever-with-computer-picture-id161955993?s=612x612" alt="photo de profil">
    </div>
    <form>
        <div class="form-group">
            <input type="text" id="prenom" placeholder="{{loggedInUser?.firstname}}">
        </div>
        <div class="form-group">
            <input type="text" id="nom" placeholder="{{loggedInUser?.name}}">
        </div>
        <div class="form-group">
            <input type="text" id="poste" placeholder="{{loggedInUser?.job}}">
        </div>
        <div class="form-group">
            <input type="text" id="mdp" placeholder="{{loggedInUser?.password}}">
        </div>
    </form>
    <div class="boutons">
        <div class="modifier">
            <button>Modifier</button>
        </div>
        <div class="supprimer">
            <button>Supprimer</button>
        </div>
    </div>
</div>
<div class="mur">
    <h2>Mes Publications</h2>
    <div *ngFor="let post of userPosts" class="colonne">
        <div class="post">
            <div class="utilisateur">
                <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
                <p>Patrice</p>
                <p class="date">{{post?.createdAt | date: 'à HH:mm, le d MMMM yyyy'}}</p>
            </div>
            <div class="composition">
                <div class="texte">
                    <input type="hidden" class="id" placeholder="{{post?._id}}" name="id" ngModel="{{post?._id}}">
                    <p>{{post?.message}}</p>
                </div>
                <div class="image">
                    <img type="jpg" id="image" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651423_960_720.jpg"  alt="image">
                </div>
            </div>
            <div class="bas-post">
                <div class="boutons">
                    <button (click)="likePost(post?._id)">J'aime</button>
                    <button (click)="unlikePost(post?._id)">Je n'aime plus</button>
                    <button (click)="addCommentPost(post?._id, form.value)">Commenter</button>
                    <button (click)="deletePost(post?._id, post.posterId)">Supprimer</button>
                </div>
                <div *ngFor="let comment of post?.comments" class="conteneur-commentaire">
                    <input type="hidden" class="id" placeholder="{{comment?._id}}" name="id" ngModel="{{comment?._id}}">
                    <p class="commenterName"><i class="fas fa-user"></i>  {{comment?.commenterName}} : </p>
                    <p class="text">{{comment?.text}}</p>
                    <a (click)="deleteCommentPost(post?._id, comment?._id)"><i class="fas fa-trash-alt" id="supprimer"></i></a>
                    <a (click)="editCommentPost(post?._id, comment?._id)"><i class="fas fa-edit" id="modifier"></i></a>
                </div>
                <form #form="ngForm" class="formulaire-commentaire">
                    <div class="commentaire">
                        <textarea placeholder="Votre commentaire..." name="text" ngModel="{{comment?.text}}"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>