h2{
    text-align: center;
    color: #FD2D01;
}

.profil{
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profil form .form-group label{
    width: 50%;
    text-align: center;
}

.profil form .form-group input {
    width: 50%;
    background-color: #FFD7D7;
    border-radius: 50px;
}

.profil .photo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.profil .photo img{
    width: 300px;
    height: auto;
}

.profil .boutons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 20%;
}

.profil .boutons button{
    background-color: #4E5166;
    color: white;
    text-align: center;
    transition: 0.5s;
    display: block;
    margin: 20px auto;
    border-radius: 50px;
    width: 80px;
}

.profil .boutons button:hover{
    box-shadow: #FD2D01 4px 4px 10px;
    cursor: pointer;
}

/************PUBLICATIONS***************/

.colonne{
    flex-direction: column;
    width: 100%;
}

.post{
    border: #4E5166 3px solid;
    width: 30%;
    padding: 0;
    height: 335px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
}

.post .utilisateur{
    display: flex;
    background-color:#FFD7D7;
    text-align: start;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: #4E5166 2px solid;
    border-radius: 50px 50px 0 0px;
}

.post .utilisateur img{
    width: 70px;
    height: auto;
    border-radius: 50px;
    margin: 10px;
}

.post .composition{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-bottom: #4E5166 2px solid;
    height: 200px;
}

.post .composition .texte p{
    text-align: center;
    padding-top: 5px;
}

.post .composition .image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .composition img{
    width: 200px;
    height: auto;
    padding-bottom: 10px;
}

.post .boutons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    background-color: #FFD7D7;
    border-radius: 0 0 50px 50px;
}

.post button{
    background-color: #4E5166;
    color: white;
    text-align: center;
    transition: 0.5s;
    display: block;
    margin: 20px auto;
    border-radius: 50px;
    width: 25%;
}

.post button:hover{
    box-shadow: #FD2D01 4px 4px 10px;
    cursor: pointer;
}
