.profil{
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 10px auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FD2D01;
}

input {
    width: 50%;
    background-color: #FFD7D7;
}

.profil .boutons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 20%;
}

.profil .boutons button{
    background-color: #4E5166;
    color: white;
    text-align: center;
    transition: 0.5s;
    display: block;
    margin: 20px auto;
}

.profil .boutons button:hover{
    box-shadow: #FD2D01 4px 4px 10px;
}