nav{
    background-color: #FD2D01;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav li {
    float: left;
}

nav li .lien {
    display: flex;
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    transition: 0.5s;
}

nav li .lien i {
    color: white;
    transition: 0.5s;
}

nav li .lien:hover i {
    color: black;
}

nav li .lien:hover {
    background-color: #FFD7D7;
}

nav li .lien.active {
    background-color: #FFD7D7;
}

nav li .lien.active i{
    color: black;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 100px;
    height: auto;
}
