<nav>
    <ul>
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="logo">
        </div>
        <div class="pages">
            <li><a class="lien" routerLink="/accueil" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><i class="fas fa-home"></i></a></li>
            <li><a class="lien" routerLink="/profil" routerLinkActive="active"><i class="fas fa-user"></i></a></li>
            <li><a class="lien" routerLink="/messagerie" routerLinkActive="active"><i class="fas fa-comment-alt"></i></a></li>
            <li><a class="lien" routerLink="/contact" routerLinkActive="active"><i class="fas fa-users"></i></a></li>
        </div>
    </ul>
</nav>