<div class="barre-de-recherche">
    <div class="info">
        <input class="recherche" type="text" name="recherche" placeholder="Recherchez ici !">
    </div>
    <div class="boutons">
        <a class="rechercher">Rechercher</a>
        <a class="loupe"><i class="fas fa-search"></i></a>
    </div>
</div>
<div class="nouveaux">
    <div class="swiper"><</div>
    <div class="profil">
        <div class="photo">
            <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
        </div>
        <div class="description">
            <div class="nom">
                <p>Pagniez</p>
            </div>
            <div class="prenom">
                <p>Hélène</p>
            </div>
            <div class="poste">
                <p>Développeuse Web</p>
            </div>
        </div>
        <div class="boutons">
            <button>+</button>
        </div>
    </div>
    <div class="swiper">></div>
</div>