<p class="follower-decompte">Nombre followers : {{getFollowersNumber()}}</p>

<div class="barre-de-recherche">
    <div class="info">
        <input class="recherche" type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key" name="recherche" placeholder="Recherchez ici !">
    </div>
</div>

<div class="nouveaux">
    <div *ngFor="let user of users" class="profil">
        <div class="photo">
            <img *ngIf="user.picture" type="jpg" id="image" [src]="user.picture" alt="photo de profil">
            <img *ngIf="!user.picture" type="jpg" id="image" src="../../assets/images/profil/random-user.png" alt="photo de profil">
        </div>
        <div class="description">
            <div class="name">
                <p>{{user?.name}}</p>
            </div>
            <div class="prenom">
                <p>{{user?.firstname}}</p>
            </div>
            <div class="poste">
                <p>{{user?.job}}</p>
            </div>
        </div>
        <div class="boutons">
            <button *ngIf="!isFollowing(user)" (click)="followUser(user._id!)" title="Suivre cet utilisateur">Me suivre</button>
            <button *ngIf="isFollowing(user)" (click)="unfollowUser(user._id!)" title="Ne plus suivre cet utilisateur">Ne plus me suivre</button>
        </div>
    </div>
</div>

