<div class="barre-de-recherche">
    <div class="info">
        <input class="recherche" type="text" name="recherche" placeholder="Recherchez ici !">
    </div>
    <div class="boutons">
        <button class="rechercher" title="Rechercher un utilisateur">Rechercher</button>
        <a class="loupe"><i class="fas fa-search"></i></a>
    </div>
</div>

<div class="nouveaux">
    <div *ngFor="let user of users" class="profil">
        <div class="photo">
            <img src="https://cdn.pixabay.com/photo/2021/09/25/15/46/step-by-step-6655274_960_720.jpg" alt="photo profil">
        </div>
        <div class="description">
            <div class="name">
                <p>{{user?.name}}</p>
            </div>
            <div class="prenom">
                <p>{{user?.firstname}}</p>
            </div>
            <div class="poste">
                <p>{{user?.job}}</p>
            </div>
        </div>
        <div class="boutons">
            <button title="Suivre cet utilisateur">Me suivre</button>
        </div>
    </div>
</div>

