<div class="form-connexion">
    <nav>
      <h2 (click)="onLoginPage()">Connexion</h2>
      <h2 (click)="onRegisterPage()">Incription</h2>
    </nav>
    <div *ngIf="loginActive" class="login-page">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" required>
      </div>
      <button>Tu as oublié ton mot de passe</button>
      <div class="action-buttons">
        <button (click)="onLogin()">Connexion</button>
      </div>
    </div>
    <div *ngIf="registerActive" class="login-page">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" required>
      </div>
      <div class="form-group">
        <label for="password">Confirmation de mot de passe</label>
        <input type="password" id="password" required>
      </div>
      <div class="action-buttons">
        <button (click)="onLogin()">Connexion</button>
      </div>
    </div>
</div>
